
<a href="https://www.zero-grad.com/">
         <img alt="Zero Grad" src="https://lh3.googleusercontent.com/oEMY-qk_B2HW_Fponz1a3u1fLfo3NpO0VFjQKnVW8fH0v93NAWala5Kgp0nN2ubiyZdEMpwhv3Ynv7bXsB0RZ28YfEd_ZlRum75OHEu0-z7XwHfcD3sin7_SORLzg1gz52MsxD3b1WbxQWX1RdR4HP3jpbJTOuCiddl92UBcQH_x-Llx7_XuZuwb9ekN9vYnKsw6U1yL2df4IVrJEDySttzab9qlHvMO7sSekgS64jPVAmATjqXqlvrwM026dhrad-7nX-hfr2uKlUGPuo9xKzVo4EhbUP1-pKBQNPNHO6P0KcReg3NxbtKmWXRyg9LPX0xO-wwXWt9GhCcPXFV_BoY5eQXabCjR3mlr9SO01VgWplas-XF4337_JOm-bVkiaQjQca_N4Gg0hy26TvIGRnHEMIPSgudYPqhMnatoN4xAC715rP82r1svC0_qadXMZHu6D40YqWnY9ZE-iujr2p1_CetxmG-uY94UATy7o-SnxuPchG4QfZkiUgRMr8xNg86bQMuBxbCS_lOyVMwfqwbt2IunlDcZ8yyN_3SJFzFHuFOOjQolgGQrytI0mP1oTwba7je0RtBtCuTck1UCMMsZvMnJhCtWgMmuLoYTkSCzxMXbz0T3L2AClDouA_3dwM7z1gdm8Gq4v06T1KWFUs1adGNH5fuj-pUHEfW4drzzXgolPH5SehqhaNsqdMttCPUzNPIIEjwfULyQi7nlP-w-qydK82mdhdmjQhrprfoGtsPckJkI1Tur60uZI7nLkES5cE3tQrGualSNArRkkU8KN4tStZ0CkmqZNkAlMbfAJSYBD7tDxhGSg922AdLevSLJMTUyg6KuHoY30r7zH1Z8fE0R8aFZL2LJl54OU_tkXEdlFlSnZTOdB-PVTj-yagpt99SetLnQIX5SS_Vxc0BNPKjUZG0oEHYbIxkbZN1O7Rg78xe-thytngS0byfuaeP2X4NYjg29FIffnn72bAUs9Ii0N2mOpABLg1uQMN4MyAa1Mbd_=w1300-h200-no?authuser=1" >
      </a>

# **Exercise 1:**

Write a program to accept two numbers from the user and print:
Summation, Subtraction, multiplication and division

In [15]:
a = int(input("enter the first number :"))
b = int(input("enter the second  number :"))
operator = str(input("""
enter one  for multiplication
enter two for  division
enter three for Summation
enter four for Subtraction  : """))
if operator == "one" :
  print(a * b)
  if operator== "two":
    print(a / b)
    if operator == "three" :
      print(a + b)
      if operator ==  "four" :
        print(a - b)
else   :
 print("enter the correct operation")

enter the first number :6867
enter the second  number :657

enter one  for multiplication
enter two for  division
enter three for Summation
enter four for Subtraction  : ldkhxc
enter the correct operation

# **Exercise 2:**

Write a program to accept three numbers from the user and print:
Min. Number and Max. Number

In [17]:
a = int(input("enter the first number :"))
b = int(input("enter the second number :"))
c = int(input("enter the third number :"))
print(min(a , b , c))
print(max(a , b , c))

enter the first number :4
enter the second number :9
enter the third number :98
4
98

# **Exercise 3:**

Write a program to accept Name, age and salary from the user and print like this:

> `My name is Ali.I am 30 years old. My salary is 1155.5$`

In [18]:
myname = "Ali"
old = 30
mysalary = 1155.5
print(f'my name is {myname} , i am {old} years old My salary is {mysalary}$')

my name is Ali , i am 30 years old My salary is 1155.5$

# **Exercise 4:**

Write a program to accept temperature in Faherenheit and print it in Celsius.
> C = (F - 32) * 5/9

# **Exercise 5:**

Write a program to chek if a word is palindrome (read from right as read from left, as "eye", "radar" and "madam").
> Print `True` or `False`

# **Exercise 6:**

Write a program to remove the "apple" item from your basket

> `basket = {'Orange' : 10, 'Banana': 15, 'apple' : 20}`

# **Exercise 7:**

Write a program to return a new set of identical items from two sets

> * `Input : s1= {1,3,5,7,2,6,8},  s2 = {5,8,11,14,1}`
* `Output : {1, 5, 8}`

# **Exercise 8:**

Write a program to return a new set of Unique items from two sets

> * `Input : s1= {1,3,5,7,2,6,8},  s2 = {5,8,11,14,1}`
* `Output : {1, 2, 3, 5, 6, 7, 8, 11, 14}`

# **Exercise 9:**

Write a program to Grab "hello"

`d = {'k1':[{'nest_key':['this is deep',['hello']]}]}`

# **Exercise 10:**

Write a program to return a list of unique values of a list
> * `Input   :[1,2,3,1,2,3,4,5,6,4,5,6]`
* `Output  : [1,2,3,4,5,6]`

# **Exercise 11:**

Modify the code below

In [ ]:
books = {
    "Life of Pi": "Adventure Fiction",
    "The Three Musketeers": "Historical Adventure",
    "Watchmen": "Comics",
    "Bird Box": "Horror",
    "Harry Potter":"Fantasy Fiction",
    "Good Omens": "Comedy"
}

book = input()

#change this part to use the .get() method
if(book in books):
    print(books[book])
else:
    print("Not Found")

# **Exercise 12:**

Write a program to calculate the Euclidean Distance between two points

![](https://miro.medium.com/max/277/1*IVy5Ozk6e3sQtG_wuKo19A.jpeg)

In [ ]:
p1 = (1,2)
p2 = (3,4)

#calculate distance

# **Exercise 13:**

Write a program to calculate how many sentances and words in the following paragraph

In [ ]:
paragraph = '''Hello Friends. This is a light exercise. Enjoy!'''

# calculate No. of Sentences & No. of words